body{
    margin:0;
}

#rectangle {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    background-color: red;
}

#carre {
    width: 600px;
    height: 400px;
    background-color: black;

    animation-name: bougerCarre;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes bougerCarre {
    0% {
        width: 100px;
        height: 100px;
        top:1px;
        left: 1px;
        position: absolute;
    }
    20% {
        top:1px;
        left: 501px;
    }
    40% {
        top:301px;
        left: 501px;
    }
    60% {
        top:301px;
        left: 1px;
    }
    80% {
        width: 100px;
        height: 100px;
        top:1px;
        left: 1px;
        position: absolute;
    }
    100% {
        width: 600px;
        height: 400px;
        position: relative;
    }
}