#blocAnimation {
    width: 800px;
    height: 200px;
    background-color: red;
    border: 2px solid black;

    animation-name: changerBloc;
    animation-duration: 5s;
}


@keyframes allongerBloc {
    from {
        width: 200px;
        background-color: blue;
    }
    to {
        width: 800px;
        background-color: red;
    }
}

@keyframes changerBloc {
    0% {
        position: absolute;
        width: 200px;
        height: 800px;
        top: 100px;
        left: 100px;
        background-color: blue;
    }
    50% {
        width: 200px;
        height: 200px;
    }
    100% {
        position: relative;
        top: 0px;
        left: 0px;
        width: 800px;
        height: 200px;
        background-color: red;
    }
}